body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Lobster', cursive;
  margin: 0;
}

h1 {
	color: white;
	font-size: 50px;
	font-weight: normal;
	margin-bottom: 0;
}

h2 {
	color: white;
	font-size: 18px;
}

h3 {
  text-align:center;
  font-size: 28px;
  font-weight:normal;
  margin-top: 100px;
}

h4 {
  text-align: center;
  font-size: 24px;
}

p {
  text-align: center;
}

li {
  display: inline-block;
  font-size: 12px;
  width: 100px;
  font-weight: bold;
  margin-top: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align:center;
  margin-left: 30px;
}

.bio {
	color: white;
	font-size: 14px;
}

.me {
	height: 125px;
	border-radius: 100%;
	border-style: solid;
	border-color: white;
	margin-top: 40px;

  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.about {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.grey {
	height: 3px;
	background-color: #919191;
	border: none;
	width: 50px;
}

.about-container {
  
  background: url('space.jpg') no-repeat center center fixed; 
  height: 600px;
}

.yellow {
  border-top: 5px double #F5A623;
  width: 250px;
  border-bottom: none;
  border-right: none;
}

.box {
  float:left;
  width: 42.5%;
  margin-left: 5%;
  margin-top: 80px;
}

.clear {
  clear:both;
}

.contact-headline {
  color: white;
}

.contact-me {
  height: 350px;
  background-color: #202020;
  padding-top: 30px;
}

.contact-info {
  color: white;
  font-size: 13px;
  margin-top: 30px;
}

.contact-link {
  color: white;
  font-weight: bold;
  font-size: 13px;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.hire-me {
  border-style: solid;
  border-color: white;
}